/*文本字体、代码字体以及搜索框图标*/
:root {
    --md-text-font: "LXGW WenKai Screen";
    --md-code-font: "Comic Mono", "Consolas", "LXGW WenKai Screen";
    --md-search-result-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h7c-.41-.25-.8-.56-1.14-.9a6.48 6.48 0 0 1-.36-9.18C13.69 9.5 17.33 9.13 20 11V8zm-1 7V3.5L18.5 9zm7.31 9.9c1.33-2.11.69-4.9-1.4-6.22-2.11-1.33-4.91-.68-6.22 1.4-1.34 2.11-.69 4.89 1.4 6.22 1.46.93 3.32.93 4.79.02L22 23.39 23.39 22zm-3.81.1a2.5 2.5 0 0 1-2.5-2.5 2.5 2.5 0 0 1 2.5-2.5 2.5 2.5 0 0 1 2.5 2.5 2.5 2.5 0 0 1-2.5 2.5"/></svg>');
}

/*亮色样式*/
[data-md-color-scheme="default"] {
    --md-primary-fg-color: rgba(232, 232, 232, 0.7);
    --md-header-bg-color: rgba(232, 232, 232, 0.7);
    --md-typeset-a-color: steelblue;
    --md-footer-bg-color: #f6f6f6;
    --md-footer-bg-color--dark: #f6f6f6;
    --md-footer-fg-color: #222;
    --md-footer-fg-color--light: #505050;
    --md-footer-fg-color--lighter: #777777;
}

/*暗色样式*/
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: rgba(17, 16, 17, 0.7);
    --md-header-bg-color: rgba(17, 16, 17, 0.7);
    --md-typeset-a-color: royalblue;
    --md-footer-bg-color: #101010;
    --md-footer-bg-color--dark: #101010;
}

/*顶栏磨砂玻璃效果*/
[data-md-color-primary="black"] .md-header {
    background-color: var(--md-header-bg-color);
}

/*顶栏磨砂玻璃效果*/
.md-header {
    transition: none;
    /* Gaussian blur */
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    /* Safari */
    background-color: var(--md-header-bg-color);
}

/*居中 mermaid 绘制的图*/
.mermaid {
    text-align: center;
}

/*去除音乐播放器背景颜色*/
audio::-webkit-media-controls-enclosure {
    background-color: rgba(0, 0, 0, 0.0);
}

/*视频 iframe*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

/*视频 iframe*/
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*图片标题小字号*/
figcaption {
    font-size: small;
}

/*表格居中*/
.md-typeset__scrollwrap {
    text-align: center;
}

/*删除大标题空行*/
.md-typeset h1 {
    margin: 0 0;
}

/*代码块非高亮行模糊，鼠标移上去变清晰，需要 .blur 搭配 hl_lines="..." 否则无效*/
.blur.highlight .hll {
    background-color: unset;
    box-shadow: unset;
}

.blur .md-code__content>span>span:not(.hll) {
    filter: blur(1.8px);
    transition: filter 0.3s ease;
}

.blur .md-code__content:hover>span>span:not(.hll) {
    filter: none;
}

/*打印时隐藏部分元素*/
@media print {
    .md-tooltip2 {
        display: none;
    }

    .statistics {
        display: none;
    }
}

/*屏幕过窄时隐藏音乐播放器*/
@media screen and not (min-width: 32em) {
    audio.md-header__option {
        display: none;
    }
}

/*隐藏 Thebe 单元表格自带的按钮*/
.thebe-controls {
    display: none;
}

/*Thebe 输入框 100% 宽度，对齐单元格*/
.jp-Stdin-input {
    width: 100%;
}

/*代码块最大高度，需要 .limit 搭配 linenums="0" 否则行号错位*/
/*https://github.com/squidfunk/mkdocs-material/issues/3444*/
.limit pre>code {
    max-height: 25rem;
}

/*可视化代码*/
iframe {
    width: 800px;
    height: 500px;
    border: none;
}

/*思维导图边框美化*/
div.mkdocs-markmap {
    border-radius: .2rem;
}

/*思维导图文本颜色暗色模式修复及字体修复*/
.mkdocs-markmap div {
    color: var(--md-typeset-color);
    font-family: var(--md-code-font);
}

/*思维导图代码颜色暗色模式修复*/
.mkdocs-markmap div code {
    color: var(--md-code-fg-color);
    background-color: var(--md-code-bg-color);
}

/*思维导图节点颜色暗色模式修复*/
.markmap {
    --markmap-circle-open-bg: var(--md-code-bg-color) !important;
}

/*内联公式字体略微减小*/
span.arithmatex {
    font-size: small;
}

/*mkdocstrings 设置 pkg*/
.doc-symbol.doc-symbol-nav.doc-symbol-parameter::after {
    content: "pkg";
}