{% extends "base.html" %}

{% block content %}
<style>
    .centered-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<div class="centered-content">
    <p><img style="border-radius: 50%" src="/404.png" width="256" /></p>
    <p>错误码：<code>404</code><br>页面居然没找到诶!?</p>
    <small><a class="md-button md-button--primary" href="/" title="您一定是搞错了什么，返回主页吧！">返回主页</a></small>
    <small><a class="md-button" href="https://github.com/Xiaokang2022/Xiaokang2022.github.io/issues"
            title="或许页面存在问题，反馈看看？" target="_blank">反馈看看</a></small>
</div>

{% endblock %}